

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
/* body {
    border: 1px solid black;
    
} */
.calendar-container {
    width: 300px;
    height: 300px;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 10px;
}